body {
  font-family: 'Noto Serif JP', serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

header .header_all {
  position: fixed;
  right: 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

header li {
  margin-right: 25px;
}

.top {
  display: table;
  width: 100vw;
  height: 100vh;
}

.top_boxString {
  font-size: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  line-height: 60px;
}

.top_boxString small {
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
}

#top2 {
  background: url("../images/spring/haru.jpg");
  background-size: cover;
  background-position: center;
}

.top2 {
  display: table;
  width: 100vw;
  height: 100vh;
}

.top2_all {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 20;
}

.top2_box {
  width: 376px;
  height: 508px;
  background-color: white;
  z-index: 10;
  opacity: 0.7;
  margin-left: 5%;
}

.top2_ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top2_ttl strong {
  margin-top: 60px;
  font-family: 'Pinyon Script', cursive;
  color: #8D8D8E;
}

.top2_txt {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
